* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family:cursive;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.w200 {
  width: 200px;
}

button, a {
  cursor: pointer;
}


.pagination{
  margin-top: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.pagination a.active{
  margin:0 auto;
  color: hotpink;
}

.active {
  color: hotpink;
  border: 1px solid hotpink;
}